@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bungee&family=Permanent+Marker&display=swap');

header 
{
    display: none;
}
body
{
    background-color: #646881;
}
main
{
    margin-left: 25vw;
    margin-right: 5vw;
    background-color: #62bec1;
    justify-content: center;
    text-align: center;   
}
#section1, #section2, #section3, #section4
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vw;
}
h1, h2
{
    margin-top: 5vw;
    justify-content: center;
    text-shadow: 1px 1px 2px pink;
    font-family: 'Bungee', cursive;
    font-size: 60px;
}
h3, h2
{
    font-family: 'Bungee', cursive;
    font-size:40px
}
p
{
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}


/* ----------------aside------------------ */
aside
{
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #5ad2f4;
    justify-content: center;
    /* align-items: center; */
    position: fixed;
    height: 100vh;
}
.liste
{
    list-style-type: none;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 25px;
    margin-left: 2vw;    
}

a
{
    text-decoration: none;
    text-align: center;
}


/* -------------Section1---------------- */
#photoperso
{
    width: 30%;
    border-radius: 50%;
    border: solid gold 30px;
}
#logopf
{
    border-radius: 25%;
    width: 50px;
}
#platform
{
    border-radius: 50px;
}
#menupetit
{
    display:none;
}

/*------------------------ section 2-------------- */

#date
{
    text-decoration: underline;
}

.logo
{
	max-width: 20%;	
}
.liste2
{
    display: flex;
    flex-wrap: wrap;

}
.logol
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



/* -----------------section 3----------------- */
#section3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vw;
}
.txts3
{
    font-family: 'Permanent Marker', cursive;
    font-size: xx-large;
}
.sect3
{
    margin-bottom: 10vw;
}
#section3 ul li
{
    list-style-type: none;
}


/*---------- info bulle ---------*/
a span
{	
	display:none;
	color:#fff;
	background:rgba(51,51,51,0.75);
	padding:20px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	width: 300px;
	text-align:center;
	position: absolute;
	z-index:10;
}
a 
{ 
	display: inline-block;
}
a:hover span
{ 
	display:block; 
}


/*--------- fin info bulle -----------*/

/*------------- section 4 ----------------*/
#grplogo
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 10vw;
    width: 300px;

}

#logo1, #logo4
{
    width: 50%;
    border-radius: 25%;
    box-shadow: 3px 3px 5px rgba(175, 13, 13, 0.374);    
}

#logo2
{
    width: 25%;
    border-radius: 25%;
    box-shadow: 3px 3px 5px rgba(175, 13, 13, 0.374);
}

#logo3
{
    width: 60%;
    border-radius: 25%;
    box-shadow: 3px 3px 5px rgba(175, 13, 13, 0.374);
}

/*----------------- fin section 4 --------------*/


/*------------- css petit ecran ------------------*/
@media screen and (max-width: 768px) 
{
    aside 
    {
        display: none;
    }
    header 
    {
        display: block;
        width: 100%;
        height: 30px;
        position:fixed;
        background-color: #5ad2f4;
        margin:0;

    }
    #burger
    {
        display: flex;
        position:fixed;
        justify-content: center;
        align-items: center
    }
    #menupetit
    {
        flex-direction: column;
        list-style: none;
        background-color: #5ad2f4;
        position: fixed;
        justify-content: center;
        align-items: center;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        margin: 0;
        width: 100%;
        height: 80%;
        font-size: 40px;
        font-family: 'Permanent Marker', cursive;
        
    }
    main
    {
        margin: 0;
    }
    h1
    {
        font-size:35px;
    }
    .liste
    {
        padding-left: 0;
    }
    .txts3
    {
        font-size: 25px;
    }
    #photoperso
    {
    width: 30%;
    border-radius: 50%;
    border: solid gold 15px;
    }
}
